tbody {
    display: block;
    max-height: 350px;
    overflow-y: scroll;
}

    /*设置头与内容自动对齐*/
    table thead, tfoot, tbody tr {
        display: table;
        width: 95%;
        table-layout: fixed;
    }

/*给滚动条预留宽度*/
table thead, tfoot {
    width: calc( 95% - 1em);
    background: #EFF0F5;
}
